// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    // font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    background: $lightColor;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #333;
}

p {
    margin-bottom: 1rem;
}

.btn {
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
}

.btn-block {
    display: block;
}

.btn-primary {background: $primaryColor;}
.btn-secondary {background: $secondaryColor;}
.btn-light {background: $lightColor;}
.btn-dark {background: $darkColor;}
 
.category {
    padding: 6px 10px;
    border-radius: 10px;
    color:#fff;
    text-align: center;
    display: inline-block;
}

.category-sports {background: $secondaryColor;}
.category-tech {background: steelblue;}
.category-ent {background: violet;}

.card {
    background: #fff;
    padding: 1rem;
}

.bg-primary {
    background: $primaryColor;
    color: #fff;
}

.bg-secondary {
    background: $secondaryColor;
    color: #fff;
}

.p-1 {padding: 0.5rem;}
.p-2 {padding: 1rem;}
.p-3 {padding: 2rem;}
.p-4 {padding: 3rem;}
.p-5 {padding: 4rem;}

.py-1 {padding: 0.5rem 0;}
.py-2 {padding: 1rem 0;}
.py-3 {padding: 2rem 0;}
.py-4 {padding: 3rem 0;}
.py-5 {padding: 4rem 0;}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.current {
    background: $primaryColor;
    color: #fff;
    padding: 0.5rem 1rem;
}


ul.list li {
    padding: 0.5rem 0;
    border-bottom: 1px dashed darken( #999, 4);
}